$font-family:Montserrat, sans-serif;

$fw-regular:400;
$fw-medium:500;
$fw-bold:700;

//Colors
$header-color: #a9beff;
$body-color:#EEF1FF;
$footer-color:#D2DAFF;
$font-color: #1f1f1f;

%body-font{
  font-family: $font-family;
  font-size: 16px;
  background-color: $body-color;
  line-height: 27px;
  color: $font-color;
  font-weight: $fw-medium;
}


