$font-family: 'Lato', sans-serif;

$fw-regular: 400;
$fw-bold: 700;
$fw-black: 900;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

//Colors
$primary:#f16d7f;
$primary-light:#f8f3f4;
$primary-dark:#ef5b70;

$grey:#e6e6e6;
$grey-light:#f8f8f8;
$grey-dark:#e1e1e1;

$dark: #222222;
$light: #ffffff;



%body-font {
  font-family: $font-family;
  font-size: 16px;
  background-color: $light;
  color: $dark;
  font-weight: $fw-regular;
}


