@use 'utils/vars' as *;
@use 'utils/mixins'as *;
@use 'utils/global'as *;
@use "sass:math";


$column-details: 45%;
$column-unite-price: rem(80);
$column-quantity: rem(80);
$column-shipping: rem(80);
$column-subtotal: rem(80);
$column-action: rem(50);

.shopping-cart {
	// .shopping-cart__inner
	&__inner {
	}

	// .shopping-cart__table
	&__table {
	}

	// .shopping-cart__forms-wrapper
	&__forms-wrapper {
	}
}


.cart-table {
	display: flex;
	flex-direction: column;
	width: 100%;
	@include adaptiveValue('padding-top', 80, 20, $screen-lg, $screen-sm, 1);
	padding-bottom: rem(50);
	// .cart-table__header
	&__header {
		display: flex;
		width: 100%;
	}

	// .cart-table__row
	&__row {
		display: flex;
		align-items: center;
		width: 100%;
		padding: rem(30) 0;
		border-bottom: rem(1) solid $grey-dark;
		@include sm-max {
			flex-direction: column;
		}
	}

	// .cart-table__body
	&__body {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
}


.details-column {
	display: flex;
	width: $column-details;
	@include md-max {
		width: auto;
		flex: 1 1 auto;
	}
}


.table-title {
	font-weight: $fw-bold;
	font-size: rem(13);
	text-align: center;
}


.header-column-wrapper {
	display: flex;
	align-items: center;
	flex: 1 1 auto;
	justify-content: space-between;
	@include md-max {
		display: none;
	}
}


.body-column-wrapper {
	display: flex;
	align-items: center;
	flex: 1 1 auto;
	//width: 50%;
	justify-content: space-between;
	@include md-max {
		padding: rem(20) 0;
		gap: rem(20);
	}

}


.unite-price-column {
	max-width: $column-unite-price;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}


.quantity-column {
	max-width: $column-quantity;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}


.shipping-column {
	max-width: $column-shipping;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}


.subtotal-column {
	max-width: $column-subtotal;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}


.action-column {
	max-width: $column-action;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}


.body-details-column {
	display: flex;
	// .body-details-column__image-wrapper
	&__image-wrapper {
		width: rem(100);
		height: rem(115);
		overflow: hidden;
	}

	// .body-details-column__image
	&__image {
		pointer-events: none;
		width: 100%;
		object-fit: contain;
		max-width: none;
	}

	// .body-details-column__wrapper
	&__wrapper {
		display: flex;
		flex-direction: column;
		padding-top: rem(25);
		padding-left: rem(20);
		gap: rem(5);
	}
}


.table-item-name {
	font-size: rem(13);
	padding-bottom: rem(15);
}


.table-prop {
	font-size: rem(13);
	color: $grey-product-cart;
	display: flex;
}


.table-sub-prop {
	font-size: rem(13);
	color: $grey-product-cart;
	font-weight: $fw-light;
}


.table-prop-input {
	font-size: rem(13);
	color: $grey-product-cart;
	border: rem(1) solid $grey-dark;
	text-align: center;
	width: fit-content;
	max-width: rem(50);
	padding: rem(5) 0;
}


.table-prop-button {
	width: rem(20);
	height: rem(20);
	border-radius: 50%;
	background-color: $grey-darker;
	position: relative;

	&:after {
		content: '🞬';
		color: $light;
		position: absolute;
		font-size: rem(16);
		line-height: rem(16);
		top: rem(2);
		left: rem(3);
		pointer-events: none;
	}
}


.card-buttons {
	display: flex;
	padding-bottom: rem(40);
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	@include md-max {
		justify-content: center;
		gap: rem(20);
	}
	// .card-button__button-outline"
	&__button-outline {
		font-size: rem(14);
		max-width: rem(235);
		@extend %button-outline;
	}
}


.cart-forms {
	display: flex;
	gap: rem(30);
	//padding-bottom: rem(80);
	@include adaptiveValue('padding-bottom', 80, 50, $screen-lg, $screen-sm, 1);
	@include lg-max {
		flex-direction: column;

	}
	// .cart-forms__shipping-form
	&__shipping-form {
	}

	// .cart-forms__title
	&__title {
		font-size: rem(16);
		font-weight: $fw-bold;
		padding-bottom: rem(15);
	}

	// .cart-forms__button-outline
	&__button-outline {
		font-size: rem(11);
		font-weight: $fw-bold;
		width: fit-content;
		padding: rem(10) rem(15);
		@extend %button-outline;
	}

	// .cart-forms__discount-form
	&__discount-form {
	}

	// .cart-forms__total-form
	&__total-form {
	}

	// .cart-forms__button-solid
	&__button-solid {
		@extend %button-solid;
	}
}


.form-shipping {
	display: flex;
	flex: 1 1 33.333%;
	min-width: rem(290);
	flex-direction: column;
	// .form-shipping__select-wrapper
	&__select-wrapper {
	}

	// .form-shipping__state-input
	&__state-input {
	}

	// .form-shipping__postcode
	&__postcode {
	}
}


.county-select {
	padding-bottom: rem(20);
	width: 100%;
	position: relative;

	&:after {
		content: "";
		position: absolute;
		top: rem(19.5);
		right: rem(7);
		transform: translate(-50%, -50%);
		border-left: rem(5) solid transparent;
		border-right: rem(5) solid transparent;
		border-top: rem(5) solid $grey-darker;
		pointer-events: none;
	}

	&__select {
		font-size: rem(13);
		font-weight: $fw-light;
		width: 100%;
		border: rem(1) solid $grey-darker;
		padding: rem(10) rem(15);

		option[value=""][disabled] {
			display: none;
		}

		&:invalid {
			color: $grey-darkest;
		}
	}
}


.input-cart-form {
	font-size: rem(13);
	font-weight: $fw-light;
	border: rem(1) solid $grey-darker;
	width: 100%;
	padding: rem(10) rem(15);
	margin-bottom: rem(20);
	// .input-cart-form__label
	&__label {
		font-size: rem(14);
		font-weight: $fw-light;
		padding-bottom: rem(15);
	}
}


.form-discount {
	display: flex;
	flex: 1 1 33.333%;
	flex-direction: column;
	min-width: rem(290);
	// .form-discount__state-input
	&__state-input {
	}
}


.form-total {
	display: flex;
	flex: 1 1 33.333%;
	flex-direction: column;
	min-width: rem(290);
	background-color: $primary-light;
	padding: rem(40);
	height: fit-content;
	// .form-total__currency-wrapper
	&__currency-wrapper {
		display: flex;
		flex-direction: column;
		align-items: end;
		padding-bottom: rem(25);
		border-bottom: rem(1) solid $grey-darker;
		margin-bottom: rem(25);
	}

	// .form-total__sub-total
	&__sub-total {
		font-size: rem(11);
		padding-bottom: rem(10);
	}

	// .form-total__sub-total-currency
	&__sub-total-currency {
	}

	// .form-total__grand-total
	&__grand-total {
		font-size: rem(16);
		font-weight: $fw-bold;
	}

	// .form-total__grand-total-currency
	&__grand-total-currency {
		color: $primary;
	}
}
