@import 'reset';
@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'libs';
@import 'global';


.header {
  &__inner {
    display: flex;
    flex-direction: column;
  }
}

.icon-menu {
  display: none;
  @include md {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #000;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - #{rem(1)});
    }
    .menu-open & {
      span {
        width: 0;
      }

      &::before,
      &::after {
      }

      &::before {

        top: calc(50% - #{rem(1)});
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - #{rem(1)});
        transform: rotate(45deg);
      }
    }
  }
}

.top-header {
  border-bottom: $grey solid 1px;
  background-color: #fff;

  &__inner {
    display: flex;
    min-height: 100px;
    align-items: center;
  }
}

.search-header {
  border: 1px solid $grey;
  border-radius: rem(3);

  &__button {
    top: 0;
    left: 0;
    background-image: url("../images/icons/magnifying-glass-solid.svg");
  }

  &__input {
    border: none;
    border-radius: rem(3);
    width: rem(317);
    height: rem(38);
    &:focus-visible {
      outline: none;
    }
  }
}


.nav-header {
  &__inner {
    display: flex;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
  }
}

.menu {
  &__list {
    display: flex;
    row-gap: 5px;
    @include adaptiveValue('column-gap', 50, 10);
    flex-wrap: wrap;
    justify-content: center;
    text-transform: uppercase;
  }

  &__link {
    font-weight: $fw-bold;
    color: $dark;
  }
}




