@use 'utils/vars' as *;
@use 'utils/mixins'as *;
@use "sass:math";

@import 'utils/reset';
@import 'utils/fonts';
@import 'utils/libs';
@import 'utils/global';

@import 'header';
@import 'breadcrumbs';


.main {
	@include md-max {
		padding-top: rem(15);
	}
}


.wrapper {
	&._lock {
		@include md-max {
			overflow: hidden;
			position: fixed;
		}
	}
}


@import "index-page";
@import "product-page";
@import "subscribe-form";
@import "footer";


