@use "vars" as *;


html,
body {
	height: 100%;
}


body {
	font-family: $font-family;
	font-size: $fz;
	color: $dark;
	font-weight: $fw-regular;
	background-color: $bg-color;
}


.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	min-width: 100%;
}


.main,
.article {
	flex: 1 0 auto;
}


.footer {
	flex: 0 0 auto;
}


.container {
	max-width: numbToPx($container-width);
	margin: 0 auto;
	padding: 0 numbToPx($container-padding);
}





