@use "vars" as *;
@use 'mixins'as *;
@use "sass:math";


html,
body {
	height: 100%;
}


body {
	font-family: $font-family;
	font-size: $fz;
	color: $dark;
	font-weight: $fw-regular;
	background-color: $bg-color;
}


.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	min-width: 100%;
}


main {
	flex: 1 0 auto;
}


.footer {
	flex: 0 0 auto;
}


.container {
	max-width: numbToPx($container-width);
	margin: 0 auto;
	padding: 0 numbToPx($container-padding);
}


.button-solid {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: center;
	color: $light;
	background-color: $primary;
}


.product-item {
	@media (hover: hover) {
		&:hover &__color-filter {
			display: flex !important;
			pointer-events: auto;
		}
		&:hover {
			box-shadow: rgba(0, 0, 0, 0.16) 0 rem(5) rem(8);
			transform: scale(1.1);
		}
	}
	height: rem(362);
	max-width: rem(300);
	transition: all .2s ease-in-out;
	display: flex;
	flex-direction: column;
	justify-self: center;
	// .product-item__preview-wrapper
	&__preview-wrapper {
		position: relative;
		width: 100%;
		height: 100%;
	}

	&__color-filter {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		background-color: rgb(58, 56, 56, 0.83);
		justify-content: center;
		padding-top: rem(100);
		display: none;
		pointer-events: none;
	}

	// .product-item__preview-image
	&__preview-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__button-outline {
		@extend %product-button-outline
	}

	// .product-item__description
	&__description {
		padding: rem(18) rem(13);
	}

	// .product-item__title
	&__title {
		font-size: rem(13);
		text-transform: uppercase;
		font-weight: $fw-bold;
		color: $dark;
	}

	// .product-item__price
	&__price {
		padding-top: rem(10);
		font-size: rem(16);
		color: $primary;
		font-weight: $fw-bold;
	}

	&__button-icon {
		height: rem(23);
		padding-right: rem(10);
	}

}


%catalog-product {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(rem(262), 1fr));
	gap: rem(30);

	&__item {
		justify-self: center;
	}
}


%button-outline {
	font-weight: $fw-bold;
	padding: rem(15);
	border: rem(1) solid $grey-darker;
	width: 100%;
}


%button-solid {
	font-weight: $fw-bold;
	padding: rem(15);
	background-color: $primary;
	color: $light;
	//border: rem(1) solid $grey-darker;
	width: 100%;
}


%product-button-outline {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: center;
	border: rem(1) solid;
	background-color: transparent;
	color: $light;
	fill: $light;
	font-weight: $fw-bold;
	font-size: rem(13);
	height: rem(40);
}


.wrapper-dropdown {
	position: relative;
	display: inline-block;
	text-align: left;
	color: $grey-darker;
	font-size: rem(13);
	line-height: math.div(13, 13);
	cursor: pointer;
	user-select: none;
	border: rem(1) solid $grey-darker;
	padding: rem(10);

	svg {
		fill: $grey-darker;
		height: rem(15);
		max-width: rem(15);
		width: 100%;
		position: absolute;
		top: 50%;
		right: rem(12);
		transition: all 0.3s ease 0s;
		margin-top: rem(-7);
	}


	.dropdown {
		position: absolute;
		top: 105%;
		right: 0;
		left: 0;
		margin: 0;
		padding: 0;
		list-style: none;
		border-radius: inherit;
		box-shadow: inherit;
		background: inherit;
		transition: .5s ease;
		transform: scaleY(0);
		transform-origin: top;
		user-select: none;
		opacity: 0;
		visibility: hidden;
		background-color: $light;

		li {
			padding: rem(10) rem(15);
			overflow: hidden;
			transition: .5s ease;

			&:last-child {
				border-bottom: none;
			}


			@media (hover: hover) {
				&:hover {
					background: $grey-light;
				}
			}
		}
	}
}


.wrapper-dropdown.active {


	svg {
		transform: rotate(0.5turn);
	}

	.dropdown {
		opacity: 1;
		visibility: visible;
		transform: scaleY(1);
	}
}
