@use "sass:math";


$font-family: 'Lato', sans-serif;

$fz: rem(14);

$fw-regular: 400;
$fw-bold: 700;
$fw-black: 900;

$minWidth: 320;
$maxWidth: 1600;
$max-container: 1140;
$container-padding: 15;
$container-width: $max-container+$container-padding * 2;

$screen-sm: 576;
$screen-md: 768;
$screen-lg: 992;
$screen-xl: $container-width;

//z-indexes
$z-menu: 5;
$z-icon-menu: 10;
$z-logo: 15;

//Colors
$bg-color: #FFF;

$primary: #F16D7F;
$primary-light: #F8F3F4;
$primary-dark: #EF5B70;

$grey: #E6E6E6;
$grey-light: #F8F8F8;
$grey-dark: #E1E1E1;
$grey-darker: #7a7a7a;

$dark: #222222;
$light: #FFFFFF;


@function numbToPx($px) {
	$result: $px*1px;
	@return $result;
}


//Percent
@function percent($px, $from) {
	$result: math.div($px, $from) * 100%;
	@return $result;
}


//REM
@function rem($px) {
	$result: math.div($px, 16) + rem;
	@return $result;
}


//EM
@function em($px, $current: 16) {
	$result: math.div($px, $current) + em;
	@return $result;
}


