<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer-body body-footer">
                <div class="body-footer body-footer_row">
                    <div class="body-footer__item item-footer">
                        <div data-spollers="992" class="item-footer__spoller spoller-item-footer">
                            <div class="spoller-item-footer__item">
                                <button type="button" data-spoller class="spoller-item-footer__title">
                                    Информация
                                </button>
                                <div class="spoller-item-footer__body">
                                    <nav class="menu-footer">
                                        <ul class="menu-footer__list">
                                            <li class="menu-footer__item">
                                                <a href="" class="menu-footer__link">
                                                    b
                                                </a>
                                            </li>
                                            <li class="menu-footer__item">
                                                <a href="" class="menu-footer__link">
                                                    a
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>