<section class="page__subscribe-form subscribe-form">
    <div class="subscribe-form__gray-filter">
        <div class="container">
            <div class="subscribe-form__inner">
                <div class="subscribe-form__review-slider review-slider">
                    <div class="review-slider__item-wrapper">
                        <div class="review-slider__item">
                            <img src="images/review-avatar.jpg" alt="review-avatar" class="review-slider__avatar"/>
                            <div class="review-slider__description-wrapper">
                                <p class="review-slider__description">
                                    "Vestibulum quis porttitor dui! Quisque viverra nunc mi,
                                    a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium"
                                </p>
                                <p class="review-slider__full-name">
                                    Bin Burhan
                                </p>
                                <p class="review-slider__position">
                                    Dhaka, Bd
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="review-slider__item-wrapper">
                        <div class="review-slider__item">
                            <img src="images/review-avatar.jpg" alt="review-avatar" class="review-slider__avatar"/>
                            <div class="review-slider__description-wrapper">
                                <p class="review-slider__description">
                                    "Vestibulum quis porttitor dui! Quisque viverra nunc mi,
                                    a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium"
                                </p>
                                <p class="review-slider__full-name">
                                    Bin Burhan
                                </p>
                                <p class="review-slider__position">
                                    Dhaka, Bd
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="review-slider__item-wrapper">
                        <div class="review-slider__item">
                            <img src="images/review-avatar.jpg" alt="review-avatar" class="review-slider__avatar"/>
                            <div class="review-slider__description-wrapper">
                                <p class="review-slider__description">
                                    "Vestibulum quis porttitor dui! Quisque viverra nunc mi,
                                    a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium"
                                </p>
                                <p class="review-slider__full-name">
                                    Bin Burhan
                                </p>
                                <p class="review-slider__position">
                                    Dhaka, Bd
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subscribe-form__form form-subscribe">
                    <div class="form-subscribe__title-wrapper">
                        <div class="form-subscribe__title">
                            SUBSCRIBE
                        </div>
                        <div class="form-subscribe__sub-title">
                            FOR OUR NEWLETTER AND PROMOTION
                        </div>
                    </div>
                    <form action="#" class="form-subscribe__email-form form-email">
                        <input
                                class="form-email__input"
                                autocomplete="on" type="text" name="form[]" data-error="Error"
                                placeholder="Enter You Email"
                        >
                        <button type="submit" class="form-email__button">
                            Subscribe
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>